.confirmados {
    width: 700px;
    height: 80px;
    background-color: rgb(78, 133, 235);
    border-radius: 0 50px 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Josefin Sans";
}

.confirmados__titulo {
    margin-left: 16px;

}

.confirmados__numero {
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 70px;
    height: 70px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}