img {
    width: 250px;
    height: 150px;
}

.dadosGerais {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    margin-left: 24px;
}

.dadosGerais__info {
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: "Josefin Sans";
}

.dadosGerais__boletim {
    background-image: linear-gradient(90deg, rgba(0,18,255,1) 0%, rgba(248,0,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}