@import "confirmados.css";
@import "suspeitos.css";
@import "dadosGerais.css";

main {
    display: flex;
}

body {
    background: rgb(255,127,216);
    background: linear-gradient(90deg, rgba(255,127,216,1) 0%, rgba(211,167,255,1) 50%, rgba(107,232,255,1) 100%);
}